* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url("/img/background.jpg") center no-repeat;
    background-size: cover;
}
.container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}
.tasks {
    width: 45%;
    height: 100vh;
    margin: 0 .5em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.title {
    border: 1px solid black;
    font-weight: 500;
    background-color:#E4E6DB;
    padding: .2em;
    text-align: center;
    margin-bottom: .5em;
    font-family: 'Baloo Tamma 2', cursive;
}
.task {
    padding: .5em;
    border: 1px solid;
    margin-bottom: .3em;
    cursor: move;
}
.task:nth-child(even) {
    background-color: #B4ACD7;
    border-color: #5F50A5;
}
.task:nth-child(odd){
    background-color: #85D6FF;
    border-color: #00A3F5;
}
.active:nth-child(even) {
    background-color: #DAD6EB;
}
.active:nth-child(odd){
    background-color: #C2EBFF;
}